    <form>
        <label htmlFor="formName" class="form-label">
          Name:
        </label>
        <input
        class="form-control"
        type="text"
        />
      <label htmlFor="formEmail" class="form-label">
        Email:
      </label>
      <br />
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
      />
      <br />
      <label htmlFor="formPassword" class="form-label">
        Password
      </label>
      <br />
      <input
        class="form-control"
        type="password"
        id="Password"
        name="Password"
      />
      <label for="formRe-Password" class="form-label">
        Reenter Password
      </label>
      <br />
      <input
        class="form-control"
        type="password"
        id="Re-Password"
        name="Re-Password"
      />
      
      <br />
      <label htmlFor="formState" class="form-label">
          State
      </label>
      <select
        class="form-select"
        id="formState"
        name="formState"
      >
      </select>
      <br />
      <label htmlFor="formOccupation" class="form-label">
          Occupation
      </label>
      <select
        class="form-select mb-2"
        id="formOccupation"
        name="formOccupation"
      >
      </select>
      <button type="button" class="btn btn-primary float-end">Submit Data</button>
    </form>