<form class="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <h2 class="text-center">Please Enter Your Information</h2>
    <label for="name" class="form-label"> Name: </label>
    <input
      class="form-control"
      type="text"
      id="name"
      name="name"
      [(ngModel)]="name"
      required
    />
    <label for="email" class="form-label"> Email: </label>
    <input
      class="form-control"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
    />
    <label for="password" class="form-label"> Password: </label>
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      [(ngModel)]="password"
      required
    />
    <small id="emailHelp" class="form-text text-muted"
      >Password must be 8 characters</small
    >
    <br />
    <label for="rePassword" class="form-label"> Reenter Password </label>
    <input
      class="form-control"
      type="password"
      id="rePassword"
      name="rePassword"
      [(ngModel)]="rePassword"
      required
    />
    <label for="state" class="form-label"> State: </label>
    <select class="form-select" id="state" name="state" [(ngModel)]="state">
      <option value="">Select State</option>
      <option *ngFor="let state of stateList" value="{{ state.abbreviation }}">
        {{ state.name }}
      </option>
    </select>
    <label for="occupation" class="form-label"> Occupation: </label>
    <select
      class="form-select mb-2"
      id="occupation"
      name="occupation"
      [(ngModel)]="occupation"
    >
      <option value="">Select Occupation</option>
      <option
        *ngFor="let occupation of occupationList"
        value="{{ occupation }}"
      >
        {{ occupation }}
      </option>
    </select>
    <input
      type="submit"
      class="btn btn-primary mt-2 align-self"
      value="Submit"
    />
  </div>
</form>
